@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400");
@import "./variables.scss";

* {
  font-family: Roboto, sans-serif;
}

#app {
  margin-top: 60px;
  background-color: $primary;
}